<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test1"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.test1.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.test1.OptionsActivity"
            android:label="@string/title_activity_options"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.test1.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.test1.PlayerNames"
            android:label="@string/title_activity_player_names"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.test1.Game"
            android:label="@string/title_activity_game"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.example.test1.ExitDialog"
            android:label="@string/title_activity_exit_dialog" >
        </activity>
        <activity
            android:name="com.example.test1.WinnerActivity"
            android:label="@string/title_activity_winner" >
        </activity>
        <activity
            
            android:name="com.example.test1.ScoresActivity"
            android:label="@string/title_activity_scores" >
        </activity>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>
        <activity android:name="com.facebook.LoginActivity"></activity>
    </application>

</manifest>
